
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<script>
    $(document).ready(function () {
        // TODO: ajax 接 api

        // TODO: 接回來的 Json 資料塞值的方式
        $('#id_name').val();
    })
</script>